DATABASE_URL=postgresql://user:password@localhost:5432/gojocalories
SECRET_KEY=super-secret-key-for-gojo-calories
ALLOWED_ORIGINS=http://localhost:3000,http://192.168.1.122:3000
GEMINI_API_KEY=your_gemini_api_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=gojocalories-bucket
REDIS_URL=redis://localhost:6379/0
